.Days {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  margin: 50px;
  padding: 20px;
  border-radius: 20px;
}

@media only screen and (max-width: 480px) {
  .Days {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    margin: 0px;
    padding: 0px;
  }
}
