.details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
}

header {
  text-align: center;
  color: white;
}

.weather {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding: 10px 80px;
  color: white;
}

@media only screen and (max-width: 480px) {
  .weather {
    display: grid;
    padding: 10px 0px;
    grid-template-columns: 1fr 1fr;
  }
}

.d {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37);
  padding: 20px;
  padding-top: 30px;
  margin: 20px;
  border-radius: 20px;
}
